// 字型
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600, 700");

//色票
$yellow: #ffd371;
$dark: #333;
$gray: #9f9a91;
$light: #efefef;

//統一設定
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: 'Noto Sans';
}

body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    color: $dark;
    background-image: linear-gradient(174deg,
            $yellow 2%,
            $yellow 46%,
            #ffffff 46%,
            #ffffff 100%,
            #e8e8e8 100%);
    letter-spacing: 0.07em;
}

.container {
    margin: 4rem auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}